[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=harbour-metronom
Icon=ru.krig.harbour-metronom
Exec=/usr/bin/ru.krig.harbour-metronom
